@font-face {
    font-family: 'Aeonik';
    src: url('../src/assets/fonts/Aeonik/AeonikTRIAL-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../src/assets/fonts/Aeonik/AeonikTRIAL-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}