*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F6F9;
  font-family: 'Aeonik', sans-serif;
}


/* Typography */
h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
}

.float-point {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #8592AD;
}

.float-separator {
  color: #8592AD;
}

h4 {
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 700;
}

h5 {
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: 1.5px;
}

p {
  font-size: 0.875rem;
  line-height: 1.25;
}


/* Navigation Component */
nav {
  height: 100vh;
  width: 13%;
  background-color: #fff;
  border-right: 2px solid #F1F2F5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
}

.logo-container {
  padding: 1.5rem 2rem;
  border-bottom: 2px solid #F1F2F5;
  margin-bottom: 1.5rem;
  width: 100%;
}

.menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
}

.menu-list a {
  text-decoration: none;
}

.menu-item h4 {
  font-weight: 400;
  color: #8592AD;
}

.menu-list a:visited {
  text-decoration: none;
  color: inherit;
}

.menu-item {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

.menu-item.selected {
  background-color: #E7F0FC;
  border-radius: 0.5em;
  padding: 0.875rem 0.5rem;
}

.menu-item.selected h4 {
  color: #2467E3;
}

.referral-container {
  width: 100%;
  padding: 0.75rem 1rem;
}

.referral-container img {
  width: 100%;
  height: auto;
}

/* Page Content */

.page-content {
  width: 100%;
  display: flex;
  align-items: start;
}

.body-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* Header */
header {
  width: 100%;
  padding: 1.15rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid #F1F2F5;
  position: sticky;
  top: 0;
}

.header-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text h1 {
  color: #1B1F28;
  margin-bottom: 4px;
}

.header-text p {
  color: #49546C;
}

.header-btns,
.btn-containers {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

button.rate-check {
  border: none;
  background-color: transparent;
  color: #2467E3;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.875rem;
}

button.lang-check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 12px 8px;
  border-radius: 100px;
  height: 40px;
  aspect-ratio: 3/1;
  background-color: transparent;
  color: #333333;
  border: 2px solid #F1F2F5;
  font-size: 0.75rem;
}

button.neutral {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #F1F2F5;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.account {
  height: 40px;
  width: 40px;
  padding: 8px 12px;
  border-radius: 50%;
  border: none;
  background-color: #DADEE7;
  color: #1B1F28;
  font-size: 1rem;
}

/* PageContent */
main {
  width: 100%;
  height: 100%;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.5rem;
}

.wallets-container,
.actions-container,
.txns-container {
  width: 78%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem;

}


.section-header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;

}

.txn-section-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.wallets,
.actions {
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.wallet {
  padding: 1rem 1rem 1.5rem;
  border: 2px solid #F1F2F5;
  width: 30%;
  border-radius: 0.5rem;
}

.wallet-flag {
  width: 32px;
  height: 32px;
  margin-bottom: 1.5rem;
}

.wallet-name {
  font-size: 0.875rem;
  font-weight: 400;
  color: #8592AD;
}

.wallet-data {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.75rem;
}

.wallet-balance {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
}

.actions {
  width: 100%;
}

.action {
  padding: 0.5rem 1rem 2rem;
  border: 2px solid #F1F2F5;
  width: 40%;
  height: 170px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}

.action-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}

.action-details p {
  color: #8592AD;
}

.txns-container {
  border: 1px solid #F1F2F5;
  border-radius: 0.5rem;
}

.txn-section-header a {
  color: #2467E3;
  cursor: pointer;
  text-decoration: none;
}

.txn-section-header a.visited {
  color: #2467E3;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  padding-right: 10%;
  padding-bottom: 0.5rem;
  background-color: #F6F6F9;
  color: #8592AD;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 2px solid #F1F2F5;
}

.table-header h5 {
  font-weight: 400;
  width: 13%;
}


.transaction-list {
  width: 100%;
}

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border: 1.5px solid #F1F2F5;
  border-top: none;
  color: #49546C;
}

.transaction:last-of-type {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.transaction p {
  width: 16%;
}

.transaction button {
  margin-left: 8%;
  border: none;
  background-color: transparent;
}

.status {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.75rem;
  border: 2px solid #F1F2F5;
  border-radius: 24px;
}

.circle-divider {
  background-color: #006E2C;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100%;
}

.status p {
  color: #006E2C;
  font-size: 0.75rem;
  font-weight: 400;
}